@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --breakpoint-xm: 865px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes gradient-x {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@layer utilities {
  .animate-gradient-x {
    animation: gradient-x 8s ease infinite;
  }
  .hover\:animate-gradient-x-fast:hover {
    animation: gradient-x 1.5s ease infinite;
  }
}

/* Contenedor de la paginación */
.swiper-pagination {
  background-color: rgba(0, 0, 0, 0.11) !important;
  border-radius: 15px !important;
  padding: 6px 4px !important;
  width: 70px !important;
  left: 50% !important;
  transform: translateX(-50%) !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

/* Estilos para los bullets de paginación */
.swiper-pagination-bullet {
  width: 4px !important;
  height: 4px !important;
  background-color: white!important;
  opacity: 1 !important;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.945) !important;
  margin: 0 4px !important;
}

.swiper-pagination-bullet-active {
  width: 9px !important;
  height: 9px !important;
  background: linear-gradient(to right, #22c55e, #24a9e7) !important;
}